{%extends "base.html"%}
{%load static%}
{%block content%}
    <div style="text-align: center;">
        <h1>About Us</h1>
    </div>
    <div class="about">
        <div style="max-width: 600px; font-size:20px;">
            <p>Welcome to our Cricket World Cup blog, your ultimate destination for all things cricket! As passionate fans of the gentleman's game, we have come together to create a platform where fellow enthusiasts can celebrate the spirit of cricket and stay updated on the thrilling action of the World Cup.</p> 
            <p>Our dedicated team is committed to delivering insightful analysis, exciting match highlights, and engaging stories that capture the essence of this global cricketing extravaganza. Whether you're a seasoned cricket aficionado or just starting your journey into the world of wickets and sixes, our blog aims to be your go-to source for all the latest updates, memorable moments, and behind-the-scenes glimpses of the Cricket World Cup.
            <p>Join us on this exciting journey as we share our love for the game and bring you closer to the heart of cricketing excellence!</p>
        </div>
        <div>
            <img src="{% static 'captains.jpeg' %}" width="400px" height="300px"/>
        </div>
    </div>
{%endblock%}